.container__contactus {
height: 100%;
max-height: 60vh;    
padding: 12px 12px;
overflow: hidden;
background-image: url("/public/torn-ripped-coral-cardstock.png");
background-size: cover;
background-position: center;
min-height: 100vh;
flex: 1;
}
.row__contactus {
  width: 100%; 
}

.contact__us {
color: black;
margin: 8px;

}

.contact__wrapper {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap: 40px;
 
 
}

.form__shell {
    flex: 1; 
    display: flex;
    justify-content: center;
    min-width: 300px;
    max-width: 600px;
    }

.picture {
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 414px;
    margin: 16px 20px;
}


.form__item {
    margin-bottom: 8px;

}

.form__submit {
    background-color: #f06449;
    border: 2px solid #f06449;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color:   #fff;
    background-color: blue;
}

.form__submit:active {
    border-color: #f06449;
    color: #f06449;

}


input, textarea {
    width: 100%;
    background-color: white;
    color: black;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

textarea {
    resize: vertical;
    height: 100px;
    
}

.label {
    font-size: 14px;
    font-weight: bold;

}

input:hover, textarea:hover {
    border-color: blue; 

}

input:focus, textarea:focus {
    border-color: #f06449;
}

@media (max-width: 704px) {

.container__contactus {
  max-height: 108vh;
}  
}

@media (max-width: 433px) {

.contact__us {
        font-size: 30px;
}

}
