.half-circle-container {
  position: relative;
  width: 100vw;
  height: 465px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.half-circle {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 10%;
  opacity: 0;
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.half-circle-left {
  left: 0;
  transform: translateX(-100%); 
  background-color: red;
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}

.half-circle-right {
  right: 0;
  transform: translateX(100%); 
  background-color: blue;
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}


.half-circle-container.revealed .half-circle-left  {  
transform: translateX(calc(50vw - 180px));  
  opacity: 1;
}
 
.half-circle-container.revealed .half-circle-right  {
  transform: translateX(calc(-50vw + 180px));
  opacity: 1;
}

.half-circle-left img,
.half-circle-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.microphone {
  clip-path: inset(0 50% 0 0);
}

.person {
  left: -250px; 
}


.flash {
  position: absolute;
  top: 65px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: white;
  opacity: 0;
  z-index: 5;
}

.flash.flash-active {
  animation: flash-pulse 0.5s ease-out forwards;
}

@keyframes flash-pulse {
  0% { opacity: 0; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.2); }
  100% { opacity: 0; transform: scale(1); }
}

.click-instruction {
  position: absolute;
  top: 10%;
  font-size: 1.2rem;
  color: #333;
}

.click-instruction span {
  display: inline-block;
  transition: transform 0.7s ease, opacity 0.7s ease;
}


.click-instruction span.scatter {
  transform: translate(
    calc(-30px + 60px * var(--i) / 10),
    calc(-50px + 100px * var(--i) / 10)
  ) rotate(calc(var(--i) * 120deg));
  opacity: 0;
}


.click-instruction span.gather {
  transform: translate(0, 0) rotate(0);
  opacity: 1;
}

/*@media (max-width: 1286px) {

.half-circle-container.revealed .half-circle-left {
  transform: translateX(493px);
  opacity: 1;
}

.half-circle-container.revealed .half-circle-right {
  transform: translateX(-493px);
  opacity: 1;
}


}*/
  
